# Системные файлы macOS
.DS_Store
Icon?

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.log

# Виртуальные окружения
venv/
env/
.venv/

# Конфигурации IDE
.vscode/
.idea/

# Данные 
data/
datasets/
*.csv

# Docker / build
*.egg-info
dist/
build/
.cache/

# Jupyter autosave
*.bak
*.tmp